@model SportData.Web.Models.Admin.CompetitionViewModel
@{
    ViewBag.Title = "Добави състезание";
}

<div class="row" Id="test">
    @Html.Partial("_AdminList")
    <div class="col-lg-8 col-md-8 col-sm-7">
        @using (Html.BeginForm("AddCompetition", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Наименование" }})
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.CompetitionImageUrl, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(x => x.CompetitionImageUrl, new { htmlAttributes = new { @class = "form-control", @type = "text" }})
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(m => m.IsActive, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.CheckBoxFor(x => x.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(x => x.LocationId, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.LocationId, new SelectList(ViewBag.Locations, "Value", "Text"), "  ----- Избери -----  ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.LocationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.CompetitionTypeId, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.CompetitionTypeId, new SelectList(ViewBag.CompetitionTypes, "Value", "Text"), "  ----- Избери -----  ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CompetitionTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href=@Model.PreviousLink class="btn btn-default">Назад</a>
                        <button type="submit" class="btn btn-primary">Запази</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
