@using SportData.Web.Helpers
@model SportData.Web.Models.Admin.CountryViewModel
@{
    ViewBag.Title = "Country";
}

<div class="row" Id="test">
    @Html.Partial("_AdminList")
    <div class="col-lg-8 col-md-8 col-sm-7">
        @using (Html.BeginForm("AddCountry", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <fieldset>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Наименование" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LocationImageUrl, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(x => x.LocationImageUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Линк", @type = "url" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Иконка</label>
                    <div class="col-lg-10">
                        @Html.Image(@Model.LocationImageUrl, "Няма иконка", new { @class = "", @width = "20", @height = "20" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Abbreviation, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(x => x.Abbreviation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Наименование" } })
                    </div>
                </div>
                <div class="form-group">
                    <label for="location" class="col-lg-2 control-label">Локация</label>
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.ParentId, new SelectList(ViewBag.Locations, "Value", "Text"), "  ----- Избери -----  ", new { @class = "form-control", @id = "location" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href=@Model.PreviousLink class="btn btn-default">Назад</a>
                        <button type="submit" class="btn btn-primary">Запази</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
