@using SportData.Web.Helpers
@model SportData.Web.Models.Admin.FootballTeamPlayerViewModel
@{
    ViewBag.Title = "Изтриване на играч";
}

<div class="row" Id="test">
    @Html.Partial("_AdminList")
    <div class="col-lg-8 col-md-8 col-sm-7">
        @using (Html.BeginForm("AddFootballPlayerToTeam", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <fieldset>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.TeamId)
                @Html.HiddenFor(x => x.PlayerId)
                <div class="form-group">
                    @Html.LabelFor(m => m.PlayerFullName, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.PlayerFullName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Флаг", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Image(@Model.NationalityImageUrl, "Няма иконка", new { @class = "", @width = "50", @height = "50" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LocationName, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.LocationName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @placeholder = "Дата" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @placeholder = "Дата" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PlayerStatusId, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.PlayerStatusId, new SelectList(ViewBag.PlayerStatuses, "Value", "Text"), "  ----- Избери -----  ", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href=@Model.PreviousLink class="btn btn-default">Назад</a>
                        <button type="submit" class="btn btn-success">Добави</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
