@model IEnumerable<SportData.Web.Models.Admin.CompetitionViewModel>
@{
    ViewBag.Title = "Състезания";
}
<div class="row" Id="top">
    @Html.Partial("_AdminList")
    <div class="col-lg-6 col-md-6 col-sm-4">
        @Html.ActionLink("Нов запис", "AddCompetition", "Admin", new { @class = "btn btn-default btn-sm add-item" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Име</th>
                    <th>Локация</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @Html.HiddenFor(m => item.Id)
                        <td class="col-lg-6 table-col-left">@item.Name</td>
                        <td class="col-lg-6 table-col-left">@item.LocationName</td>
                        <td>
                            <a href="@Url.Action("EditCompetition", "Admin", new { competitionId = @item.Id })" class="btn btn-primary btn-xs" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteCompetition", "Admin", new { competitionId = @item.Id })" class="btn btn-danger btn-xs" role="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
