@model IEnumerable<SportData.Web.Models.Admin.CompetitionViewModel>

@{
    ViewBag.Title = "Състезания";
}

<div class="row" Id="test">
    @Html.Partial("_AdminList")
    <div class="col-lg-8 col-md-8 col-sm-7">
        @Html.ActionLink("Нов запис", "AddCompetition", "Admin", new { @class = "btn btn-default btn-sm" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Име</th>
                    <th>Локация</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @Html.HiddenFor(m => item.Id)
                        <td>@item.Name</td>
                        <td>@item.LocationName</td>
                        <td>@Html.ActionLink("Редакция", "EditCompetition", "Admin", new { competitionId = @item.Id }, new { @class = "" }) </td>
                        <td>@Html.ActionLink("Изтрий", "DeleteCompetition", "Admin", new { competitionId = @item.Id }, new { @class = "" }) </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
