@model IEnumerable<SportData.Web.Models.Admin.CountryViewModel>

@{
    ViewBag.Title = "Държави";
}

<div class="row" Id="test">
    @Html.Partial("_AdminList")
    <div class="col-lg-8 col-md-8 col-sm-7">
        @Html.ActionLink("Нов запис", "AddCountry", "Admin", new { @class = "btn btn-default btn-sm" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-lg-5 table-col">Име</th>
                    <th class="col-lg-5 table-col">Локация</th>
                    <th>Съкращение</th>
                    <th></th> 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @Html.HiddenFor(m => item.Id)
                        <td class="col-lg-5 table-col">@item.Name</td>
                        <td class="col-lg-5 table-col">@item.LocationName</td>
                        <td class="col-lg-1 table-col">@item.Abbreviation</td>
                        <td class="col-lg-1 table-col">@Html.ActionLink("Редакция", "EditCountry", "Admin", new { countryId = @item.Id }, new { @class = "" }) </td>
                        <td class="col-lg-1 table-col">@Html.ActionLink("Изтрий", "DeleteCountry", "Admin", new { countryId = @item.Id }, new { @class = "" }) </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
