@model SportData.Web.Models.Admin.FootballTeamCultureViewModel
@{
    ViewBag.Title = "Редакция на език";
}

<div class="row" Id="top">
    @Html.Partial("_AdminList")
    <div class="col-lg-8 col-md-8 col-sm-7">
        @using (Html.BeginForm("DeleteFootballTeamCulture", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.FootballTeamId)
                @Html.HiddenFor(x => x.CultureId)
                <div class="form-group">
                    @Html.LabelFor(m => m.FootballTeamName, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.FootballTeamName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CultureName, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.CultureName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href=@Model.PreviousLink class="btn btn-default">Назад</a>
                        <button type="submit" class="btn btn-danger">Изтрий</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
