@using SportData.Web.Helpers
@model SportData.Web.Models.Admin.CountryViewModel
@{
    ViewBag.Title = "Редакция на държава";
}
<div class="row" Id="top">
    @Html.Partial("_AdminList")
    <div class="col-lg-6 col-md-6 col-sm-5" style="margin-top:15px">
        @using (Html.BeginForm("EditCountry", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">

                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Наименование" } })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LocationImageUrl, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(x => x.LocationImageUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Линк", @type = "text" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(" ", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Image(@Model.LocationImageUrl, "Няма иконка", new { @class = "", @width = "50", @height = "50" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Abbreviation, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(x => x.Abbreviation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Наименование" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ParentId, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.ParentId, new SelectList(ViewBag.Locations, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ParentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-6">
                    @Html.ActionLink("Нов запис", "AddCountryCulture", "Admin", new { countryId = Model.Id }, new { @class = "btn btn-default btn-sm" })
                    <div class="panel panel-default" style="margin-top:5px">
                        <div class="panel-heading">
                            <h3 class="panel-title">Превод</h3>
                        </div>
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th class="col-lg-10">Име</th>
                                    <th class="col-lg-2">Език</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cultures)
                                {
                                    <tr>
                                        @Html.HiddenFor(m => item.CountryId)
                                        <td class="col-lg-10 table-col-left">@item.CountryName</td>
                                        <td class="col-lg-2 table-col-left">@item.CultureName</td>
                                        <td>
                                            <a href="@Url.Action("EditCountryCulture", "Admin", new { countryId = @item.CountryId, cultureId = @item.CultureId })" class="btn btn-primary btn-xs" role="button" style="margin:1px">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DeleteCountryCulture", "Admin", new { countryId = @item.CountryId, cultureId = @item.CultureId })" class="btn btn-danger btn-xs" role="button" style="margin:1px">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href=@Model.PreviousLink class="btn btn-default">Назад</a>
                        <button type="submit" class="btn btn-primary">Запази</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    @*<div class="col-lg-12">
            <h2>Input Sizing</h2>
            <p>The form below shows input elements with different heights using .input-lg and .input-sm:</p>
            <form>
                <div class="form-group">
                    <label for="inputdefault">Default input</label>
                    <input class="form-control col-lg-12" id="inputdefault" type="text">
                </div>
                <div class="form-group">
                    <label for="inputlg">input-lg</label>
                    <input class="form-control input-lg" id="inputlg" type="text">
                </div>
                <div class="form-group">
                    <label for="inputsm">input-sm</label>
                    <input class="form-control input-sm" id="inputsm" type="text">
                </div>
                <div class="form-group">
                    <label for="sel1">Default select list</label>
                    <select class="form-control col-lg-12" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel2">input-lg</label>
                    <select class="form-control input-lg" id="sel2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel3">input-sm</label>
                    <select class="form-control input-sm" id="sel3">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </form>
        </div>*@
</div>
