@using SportData.Web.Helpers
@model IEnumerable<SportData.Web.Models.Admin.FootballPlayerViewModel>

@{
    ViewBag.Title = "Играчи";
}

<div class="row" Id="top">
    @Html.Partial("_AdminList")
    <div class="col-lg-8 col-md-8 col-sm-7">
        @Html.ActionLink("Нов запис", "AddFootballPlayer", "Admin", new { @class = "btn btn-default btn-sm add-item" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-lg-3 table-col-left">Име</th>
                    <th class="col-lg-3 table-col-left">Презиме</th>
                    <th class="col-lg-3 table-col-left">Фамилия</th>
                    <th class="col-lg-3 table-col">Националност</th>
                    <th>Флаг</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @Html.HiddenFor(m => item.Id)
                        <td class="col-lg-3 table-col-left">@item.FirstName</td>
                        <td class="col-lg-3 table-col-left">@item.SecondName</td>
                        <td class="col-lg-3 table-col-left">@item.LastName</td>
                        <td  class="col-lg-3 table-col">@item.LocationName</td>
                        <td class="table-col">@Html.Image(item.NationalityImageUrl, "Няма иконка", new { @class = "", @width = "20", @height = "20" })</td>
                        <td>
                            <a href="@Url.Action("EditFootballPlayer", "Admin", new { footballPlayerId = @item.Id })" class="btn btn-primary btn-xs" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteFootballPlayer", "Admin", new { footballPlayerId = @item.Id })" class="btn btn-danger btn-xs" role="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
