@using SportData.Data.Enums
@using SportData.Web.Helpers
@model SportData.Web.Models.HomeViewModel
@{
    ViewBag.Title = Resources.Resources.IndexTitle;
}

<div class="col-lg-12">
    <div class="jumbotron">
        <h1>Online Football Results</h1>
        <p class="lead"></p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
    @Html.Partial("_SideBarMenuCountries", @Model.Countries)
    <div class="col-lg-8">
        @Html.DropDownListFor(x => x.SelectedDate, new SelectList(ViewBag.DateList, "Value", "Text"), new { @class = "form-control", @Id = "dateDropdown" })
        <div id="tabs">
            <ul>
                <li id="tabAll">
                    <a id="all" href=@Url.Action("FootballMatches", "FootballMatches", new { date = @Model.SelectedDate, status = MatchStatus.Default })>@Resources.Home.Index.AllGames</a>
                </li>
                <li id="tabUpcoming">
                    <a id="upcoming" href=@Url.Action("FootballMatches", "FootballMatches", new { date = @Model.SelectedDate, status = MatchStatus.NotStarted })>@Resources.Home.Index.UpcomingGames</a>
                </li>
                <li id="tabFinished">
                    <a id="finished" href=@Url.Action("FootballMatches", "FootballMatches", new { date = @Model.SelectedDate, status = MatchStatus.Finished })>@Resources.Home.Index.FinishedGames</a>
                </li>
            </ul>
        </div>
    </div>

    @*<ul class="nav nav-pills nav-stacked col-lg-2">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li class="disabled"><a href="#">Disabled</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>*@
</div>